* {
  margin: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}
/* Header ---------------*/
header {
}
/* Body ---------------*/
body {
  background-color: #000000;
  display: grid;
  grid-template-rows: repeat(5, auto);
}

.image {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.one {
  background-color: #000000;
}
section.two {
  background-image: url("/assets/img/bgLaputa.jpg");
}
section.three {
  background-image: url("/assets/img/bgMononoke.jpg");
}
section.four {
  background-image: url("/assets/img/bgPorco.jpg");
}
section.five {
  background-image: url("/assets/img/bgTotoro.jpeg");
}
section.six {
  background-color: #6daca5;
  background-image: url("/assets/img/bgChihiro.png");
}

/* Footer ---------------*/
footer {
}
